$card-bg: #fcfcfc;
$card-body-bg: #ffffff;

.alert {}

.wc-autoship-number {
    display: block;
    height: 40px;
    width: 40px;
    background-color: forestgreen;
    border-radius: 50%;
    color: #FFFFFF;
    margin-left: 10px;
    float:left;
}

.wc-autoship-menu-icon {
    display: block;
    margin-left: 10px;
    float:left;
    font-size:2.5rem;
}

.wc-autoship-menu {
    .breadcrumb {}
}

.wc-autoship-nav {
    ul {
        li {
            background-color: #FFFFFF;
            a {
                height: 200px;
                background-color: #FFFFFF;
            }
        }
    }
}

.card-default {
    border-left: 2px solid #bfbfbf;
}

.card {
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 20px 20px 40px;
    background-color: $card-bg;
    -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.16);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
    .breadcrumb {
        li {
        font-size: 2rem;
        }
    }
    .card-body {
        padding: 0;
        background-color: $card-body-bg;
    }
    .card-footer {
        font-size: 1.5rem;
    }
    .menu {
        margin-top: 20px;
        padding: 40px 0px 20px 0px;
        .row {
            margin-bottom: 15px;
        }
    }
}

.panel-heading {
    font-size: 1rem;
    a {
    text-decoration: none;
        
        .card-title-summary {
        }

        .card-title-text {
            font-size:.75rem;
        }
    }
    a:hover {
        text-decoration:none;
    }
}

.wc-autoship-schedule {
    .row {
        margin-bottom: 15px;
    }
    .wc-autoship-schedule-item-quantity-input {
        width: 70px;
        text-align: right;
    }
    .total-col {
        text-align: right;
    }
}

.wc-autoship-schedule-items-table {
    border:none;
        thead {
        }
        tbody {
            tr {
            }
        }
        tfoot {
            background-color: #efefef;
            border-bottom: 1px solid #ddd;
            
            tr {
               
            }
            th {
                
            }
            td {
                
            }
        }
}

.wc-autoship-schedule.loading {
    @include opacity(.7);
}

.btn-xl {
    height: auto;
    padding: 15px 5px 10px 0px;
    font-size: 2rem;
    line-height: 2.75rem;
    i {
        font-size: 2.75rem;
    }
}

.btn-card {
    background-color: $card-bg;
    border: 1px solid #777777;
    color: #555555;
}

.btn-card:hover {
    background-color: #f3f3f3;
    color: #444444;
}

.wc-autoship-menu {
    margin: 0 0 20px 0;
    .wc-autoship-menu-link {
        margin: 10px 5px;
    }
}

.gutter-5 {
    margin:5px 0;
}

.gutter-card {
    margin: 20px 0;
}

.no-margin-bottom {
    margin-bottom:0 !important;
    padding-bottom:0 !important;
}

.no-margin-top {
    margin-top:0 !important;
    padding-top:0 !important;
}

#payment {
    div.payment_box {
        width: 100% !important;
        margin: 0 0 10px 0 !important;
    }
}

.wc-autoship-schedule-delete-btn {
    margin: 10px 0;
    .wc-autoship-delete-text {
        margin-left: 5px;
    }
}
