.btn-xl {
    font-size: 1.25rem;
    line-height: 2rem;
    i {
        font-size: 2.75rem;
    }
}

.wc-autoship-number {
    height: 30px;
    width: 30px;
}

.wc-autoship-menu-icon {
    font-size:2rem;
}